* { -webkit-text-size-adjust: 100%; }
html { height: 100%; font-size: 32px; }
body { margin: 0 auto; padding: 0; height: 100%; }
.fl{float: left;}
.fr{float: right;}
.slideshow { position: relative; height: 100%; background: #edf9ff;overflow: hidden; }
.globalPackage {display: none; }
.scenery { width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 90;display:none;}
.loadingPage{width:100%;height:100%;background:url(data:image/gif;base64,R0lGODlhQABAAJEAABoaGhMTEyoqKh8fHyH5BAAAAAAALAAAAABAAEAAAAL/VBCGmtfrmIwU2ofZQGAf33HgKJafGZ5qyl6TW2XxK8PQSuJozvL+DqAJZ0Rb7agB6pY9ZZMJMg6lRWTVAHX+stzm1EoNgzHbp7mMdoq/7Ku7m4Zrge21236Jn+dyJn5cB0jRt0eotxGYeCeIcMhXCMnzpzhJZPjomEXJyPmVGYn5WDnaOQh6ieq1uMka8/kaukLaWpkKe0lbSnp72iupC9xqG+tbknu8yKssGrzqDDMcDYo8m0y8TFitLSiNvUfdLOY9jrINPtR9HXr+zEmeLhsu3wZfLMdu7qpeX5bvL8Nv37d2+Ma8swfpX0EsCA/+WEiwikOBvyDmCxjQ4jwHCxPrKYxIBWNDIAUAADs=) repeat 0 0 #161616;display:none;z-index:200;}
.loadingBar { width: 3.28125rem; margin: 0 auto; padding: 8rem 0 1rem; }
.loadingTxt { text-align: center; color: #eee; }
.loading { background-color: #2187e7; background-image: -moz-linear-gradient(45deg, #2187e7 25%, #a0eaff); background-image: -webkit-linear-gradient(45deg, #2187e7 25%, #a0eaff); border-left: 0.03125rem solid #111; border-top: 0.03125rem solid #111; border-right: 0.03125rem solid #333; border-bottom: 0.03125rem solid #333; width: 0.3125rem; height: 0.3125rem; float: left; margin-left: 0.15625rem; opacity: 0.1; transform: scale(0.7); -webkit-transform: scale(0.7); animation: loading 1.8s infinite linear; -webkit-animation: loading 1.8s infinite linear; }
.block_1 { animation-delay: .1s; -webkit-animation-delay: .1s; }
.block_2 { animation-delay: .3s; -webkit-animation-delay: .3s; }
.block_3 { animation-delay: .5s; -webkit-animation-delay: .5s; }
.block_4 { animation-delay: .7s; -webkit-animation-delay: .7s; }
.block_5 { animation-delay: .9s; -webkit-animation-delay: .9s; }
.block_6 { animation-delay: 1.1s; -webkit-animation-delay: 1.1s; }
@keyframes loading {
 0% {
transform: scale(1.2);
opacity:1;
}
 50% {
transform: scale(0.7);
opacity:0.1;
}
 100% {
transform: scale(0.7);
opacity:0.1;
}
}
@-webkit-keyframes loading {
 0% {
-webkit-transform: scale(1.2);
opacity:1;
}
 50% {
-webkit-transform: scale(0.7);
opacity:0.1;
}
 100% {
-webkit-transform: scale(0.7);
opacity:0.1;
}
}
.pageBtn { position: absolute; top: 100px; left: 320px; }
.pageBtn a:link, .pageBtn a:visited { display: block; width: 40px; line-height: 30px; height: 90px; padding: 20px 0; background: #0cf; color: #fff; text-decoration: none; margin-bottom: 20px; text-align: center; font-size: 24px; }
.pageBtn a:hover { }
#shareAlert { background: rgba(0, 0, 0, .8); width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: 2000; display: none; }
.shareArr { width: 2.625rem; height: 5.1875rem; background: url(images/title-bottom.png) no-repeat 0 0; position: absolute; right: 1.5rem; top: 1.5rem; background-size: 100%; }
.shareText { text-align: center; font-size: 1.625rem; line-height: 1.85; color: #fff; position: absolute; top: 5.0rem; width: 100%; }
.othersShare { margin-top: 11rem; text-align: center; font-size: 1rem; color: #fff; }
.othersShare img { width: 3rem; height: 3rem; margin: 0 0.5rem; }
/* 用于定义小屏手机的覆盖样式 */
.smallScreen { }
/* 自定义CSS */
.scenery .bg {position: absolute; width: 100%;background-size: 100%  auto !important; height: 100%;left: 0; top: 0;}
.scenery .pic_bg {position: absolute; width: 100%;height: 100%;left: 0; top: 0;z-index: 2;}
.scenery .anItem{position: absolute; background-size: 100% !important;z-index: 3; }
.footer {height: 2.0625rem; width: 100%; left: 0; bottom: 0;background:url(images/footer_bg.png) no-repeat 0 0;background-size: 100%;}
.logo { width: 100%; height: 2.0625rem; background:url(images/logo.png) no-repeat 0 0;background-size: 100%;}
.scenery .txtbg{background-color: rgba(0,0,0,.15);color: #fff;height: 1.875rem;padding: 0 0.5rem;line-height: 1.875rem}
.frameR .userTxt { right: auto; left: 1rem; }
/*封面*/
.page_cover .bg {background: url(images/bg_cover.jpg) no-repeat 0 0;}
.page_cover .title {left: 0; top: 0; width: 20rem; height: 12.59375rem; background: url(images/cover_title.png) no-repeat 0 0;z-index: 10; }
.page_cover .btn_start {left: 0;right: 0; top:14.0625rem; width: 12.125rem;height: 3rem;margin: 0 auto; background: url(images/btn_gmStart.png) no-repeat 0 0;}
.page_cover .txt {left: 0;top:17.8125rem;width: 100%; color: #ffc400;text-align: center;font-weight: 700}
.page_cover .txt span{color: #ff3617;font-size: 1.25rem}

/*封底*/
.page_end_01{display: block; background: url(images/bg_end.jpg) no-repeat 0 0; background-size: 100% auto;-webkit-user-select:none;}
.page_end_01 .txt_01 {padding-top: 9rem;width: 100%;color: #f6ae00;font-size: 1.25rem;text-align: center;line-height: 2.1875rem;font-weight: 700}
.page_end_01 .txt_01 span{color: #ff3617}
.page_end_01 .txt_01 span.count{font-size: 1.875rem;line-height: 2.6875rem}
.page_end_01 .arrLink {padding: 0 2rem;text-align: center;}
.page_end_01 .arrLink a{margin: 0.625rem 0.375rem}
.page_end_01 .arrLink #playAgain{float: left;width: 6.75rem;height: 1.9375rem;background: url(images/arrLink_01.png)no-repeat 0 0 ;background-size: 100%}
.page_end_01 .arrLink #btn_share{float: right; width: 6.75rem;height: 1.9375rem;background: url(images/arrLink_02.png)no-repeat 0 0 ;background-size: 100%}
.page_end_01 .arrLink #smt_count{display: inline-block;width: 9.625rem;height: 2rem;background: url(images/arrLink_03.png)no-repeat 0 0 ;background-size: 100%}
.page_end_01 .namePaper{display: inline-block; width: 5.9375rem;height: 1.125rem;background: url(images/arrLink_04.png)no-repeat 0 0 ;background-size: 100%}
.smt_memo{font-size:1rem;color:#c00;display:block;clear:both;}

/*P1*/
.userScenery_01 .bg { background: url(images/p1_bg.jpg) no-repeat 0 0; }
.userScenery_01 .timeLine{left: 1rem;top: 2.3rem;width: 16.5rem;height: 2.375rem;background: url(images/timeLine_bg.png)no-repeat 0 0;z-index:4;}
.userScenery_01 .timeLine span{position: absolute; left: 2.625rem;top:0.6875rem;width: 13.125rem;height: 0.84375rem;background-color: #f44f16; border-bottom: 0.125rem solid #e71f00;transition:width 8s linear;-webkit-transition:width 8s linear;border-radius: 0.25rem;}
.userScenery_01 .score {right: 8rem;top:5.9rem; color: #ffc400;text-align: center;font-weight: 700;font-size:1.25rem}
.userScenery_01 .score span{color: #ff3617;font-size: 2rem}

.userScenery_01 .timedown {right: 0.6rem;top:3rem; color: #ffc400;text-align: center;font-weight: 700;font-size:1rem}
.userScenery_01 .timedown span{color: #ff3617;font-size: 1.25rem}

.userScenery_01 .stick{left: 0; right: 0;margin: 0 auto; top:8.25rem;width: 15.875rem;height: 15.875rem;background: url(images/stick.png)no-repeat 0 0;border-radius: 50%;}
.userScenery_01 .mask{display: none; position: absolute; left: 0; right: 0; top:0;bottom: 0; margin:auto;width: 13.5625rem;height: 13.5625rem;background: url(images/stick_bg.png)no-repeat 0 0;background-size: 100%;border-radius: 50%;}
.fire{display: none; width: 4.9375rem;height: 4.5rem;margin:-2.75rem 0 0 -2.5rem; background: url(images/fireflowrer.png)no-repeat 0 0;}
.stickL{display: none; width: 7.125rem;height: 7.1875rem;margin:-1rem 0 0 -3.5625rem; background: url(images/stickL.png)no-repeat 0 0;}
.stickR{display: none; width: 8.5625rem;height:7.9375rem;margin:-1rem 0 0 -3.5625rem; background: url(images/stickR.png)no-repeat 0 0;}
.timeLayer{position: absolute;top: 11.375rem;left: 4.75rem; width: 10.375rem;height: 9.8125rem;background: url(images/timeLayer.png) no-repeat 0 0;text-align: center;color: #e4af01;font-weight: 700;font-size: 1.25rem}
.timeLayer p{font-size: 2.5rem;color: #ff3617;margin: 0}
.timeLayer td{cursor: pointer;line-height:1.8rem;}

/*填写信息*/
.page_info{background: url(images/p2_bg.jpg) no-repeat 0 0; background-size: 100% auto;display: block;}
.page_info .wrap{padding: 0 2rem;}
/*奖品*/
.AwardList{overflow: hidden;padding: 6.25rem 0 0;}
.AwardItem{position: relative;z-index: 2;width: 6rem; height: 6.5625rem;padding:0.375rem;margin: 0 0.46875rem;}
.AwardItem .AwardImg {position: relative;}
.AwardItem .AwardImg img{width: 6rem;height: 5.5rem;}
.AwardItem .AwardImg .price{position: absolute;top: 0;left: -0.5625rem; width: 2.625rem;height: 0.90625rem;padding-right: 0.5rem;text-align: center; font-size: 0.8125rem;line-height: 0.90625rem;color: #ffebce;background-size: auto 100% !important;font-family:Arial;}
.Award01{float: left;background:#f8b133 url(images/Award_bg01.png) no-repeat 0 100%;background-size: 100% auto}
.Award01 .AwardImg .price{background: url(images/price_bg01.png) no-repeat 100% 0;}
.Award02{float: right; background:#b1b7cd url(images/Award_bg02.png) no-repeat 0 100%;background-size: 100% auto}
.Award02 .AwardImg .price{background: url(images/price_bg02.png) no-repeat 100% 0;}
.tips{color: #fff;font-size: 0.8rem;text-align: center;margin: 0.5rem 0 0;position:absolute;top:28rem;left:2rem;}
#userPhone{width: 15.3125rem;height: 1rem;line-height: 1rem;padding: 0.625rem 0;margin: 0 auto; border: 0.09375rem solid rgb(241, 123, 10);border-radius: 0.9375rem;color: #999;text-align: center;margin-top: 0.75rem;font-size: 1rem;-webkit-appearance: none; outline: none;}
#smtInfo{display: block;width: 6.75rem;height: 1.9375rem;margin: 0.75rem auto;background: url(images/btn_smt.png) no-repeat 0 100%;background-size: 100% ;}
.actIntro{background-color: rgba(255,255,255,.3);}
.actIntro ol{padding: 0;margin: 0;position: relative;left: 1rem; float: left; width: 9.125rem; font-size: 0.75rem;line-height: 1.125rem;color: #000062;font-weight: 700;text-shadow: 0 0 0.25rem #fff;}
.actIntro .rmwWX{float: right;}
.actIntro .rmwWX img{width: 5.46875rem;height: auto;}
.actIntro .rmwWX p{width: 5.46875rem;height: auto;color: #fe2200;font-weight: 700;font-size: 0.625rem;text-align: center;margin:0 }
.clearfix:after{ content:"."; display:block; height:0; overflow:hidden; clear:both; }
.clearfix{ zoom:1; }
.clearit{ clear:both; height:0; font-size:0; overflow:hidden; }


/*获奖名单*/
.page_hjmd{position: relative; display: block;min-height: 100%; background: url(images/p3_bg.png) repeat-y 0 16rem;background-size: 100% auto;overflow: hidden;}
.page_hjmd .wrap{padding: 0 0.46875rem;background: url(images/p3_banner.jpg) no-repeat 0 0;background-size: 100% auto}
.banner{height: 8.9rem;}
.btn_startGM{display: block;width: 9.0625rem;height: 2.625rem;background: url(images/btn_startGM.png) no-repeat 0 0;background-size: 100%;margin: 1rem auto;}
.sp{padding: 0.46875rem 0 0; background: url(images/bg04.png) no-repeat center 0;}
.namList{margin: 0 auto; position: relative;padding:0.9375rem 1.09375rem;background: url(images/bg04.png) no-repeat center -0.46875rem,url(images/bg05.png) no-repeat center 100%;background-color: #ffebce;box-shadow: 0px 0.15625rem 0.15625rem 0px rgba(0, 0, 0, 0.21);}
/*.namList .pb_hd01 { border:2px solid rgb(224, 57, 31); border-radius: 0.3125rem; background-color: rgb(224, 51, 25); position: absolute; left: 50%; margin-left: -4.125rem; top: 0.21875rem; width: 8.25rem; height: 1.375rem; z-index: 45;color: #ffebce;font-size: 0.75rem;line-height: 1.375rem;font-weight: 400;text-align: center; }*/
.namList .pb_hd01 { border:2px solid rgb(224, 57, 31); border-radius: 0.3125rem; background-color: rgb(224, 51, 25); margin:0 auto;  width: 8.25rem; height: 1.375rem; z-index: 45;color: #ffebce;font-size: 0.75rem;line-height: 1.375rem;font-weight: 400;text-align: center; }
.namData{padding:0rem 1.5625rem 1.5625rem 1.5625rem;overflow: hidden;font-size: 0.75rem;}
.namList table{width: 100%;line-height: 1.25rem;color: #666;margin: 0.46875rem 0;}
.namList table th{text-align: left;color: #e2372e;font-weight: 700;padding: 0.15625rem}
.namList table td,.namList table th{width: 40%;vertical-align: text-top;}
.namList table td{padding:0 0.15625rem;line-height: 1.2rem;}
.namData table tr td:first-child {color: #333}
.btn_back{display: block;width: 9.0625rem;height: 2.625rem;background: url(images/btn_back.png) no-repeat 0 0;background-size: 100%;margin: 2rem auto 0;}

